.home {
  height: 100vh;
  padding: 1rem;
}
.chatroom-subtitle {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -.04em;
  line-height: 28px;
  text-transform: none;
}
.card-collection-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}
