.Header {
    display: flex;
    width: 100%;
    height: 65px;
    background-color: var(--dark-black);
    align-items: center;
}
.Header-Brand-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    display: none;
  }
.Header-Brand-logo {
    color: black;
    background-color: #fff;
    padding: 5px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.Header-Brand-name {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1px;
    transition: all 0.4s;
}
.flex-grow {
    flex-grow: 1;
}
.User-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    color: var(--light-grey);
}
.User-message span {
    font-size: 15px;
    font-weight: 400;
}
.Navbar-toggler {
    cursor: pointer;
    z-index: 999;
    margin-left: 20px;
    display: none;
}
.toggler-icon {
    color: #fff;
    font-size: 30px;
}
@media (max-width: 768px) {
    .Header-Brand-container {
        display: flex;
    }
    .Navbar-toggler{
        display: inline-block;
    }
}