.chatroom {
  display: flex;
  justify-content: space-between;
}

.chat-section {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.chat-participants {
  min-width: 250px;
}

.chat-input-container {
  width: 100%;
  position: absolute;
  bottom: 3rem;
}

.chat-input {
  width: 90%;
  height: 2rem;
  font-size: 1rem;
}

.chat-send-btn {
  padding: 0.5rem 1rem;
}
