.chatroom {
  display: flex;
  justify-content: space-between;
}

.chat-section {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.chat-participants {
  min-width: 250px;
}